.body9h {
  width: 100%;
  background-image: url('../../components/bg/475306.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
.start-timex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.start-timex  input[type="time"] {
        width: 150px; /* Adjust width as needed */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #333333;
    }