 .body9au{
  width: 100%;
  background-image: url('../../components/bg/GoodBACKgroundBG.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.button-cardpc {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid black;
  border-radius: 8px;
}

.button-cardpc:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 12px black;
  background-color: #f0f8ff;
}
 
 