.body9i {
  width: 100%;
  background-image: url('../../components/bg/peakpx\ \(4\).jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
.book-card3 {
  display: flex;
  background-color: #d3d3d3;
  padding: 20px;
  width: 700px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.book-cover2 {
  width: 300px;
  height: 400px;
  object-fit: contain;
  margin-right: 20px;
  background-color: #d3d3d3; 
  border: 1px solid #aaa;
}

.book-details2 {
  display: flex;
  flex-direction: column;
}

.book-details2 p {
  margin: 15px 0;
  max-width: 350px;
}

.book-title4 {
  margin: 15px 0;
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-title4:hover {
  white-space: normal;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 3px;
}

.available-label,
.not-available-label {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  color: black;
}

/* Green for available */
.available-label {
  background-color: limegreen;
  border: 1px solid #aaa;
}

/* Red for not available */
.not-available-label {
  background-color: rgb(252, 3, 3);
  border: 1px solid #aaa;
}
