 .center{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;  
    min-height: 90vh;
 }
 .body9r {
  width: 100%;
  background-image: url('../../components/bg/1395636.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
 .wrapper20
  {
      position: relative;
      width: 700px;
      height: 450px;
      background: transparent;
      box-shadow: 0 0 25px rgb(25, 25, 26);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;

  }