 .body9x {
  width: 100%;
  background-image: url('../../components/bg/librarycardBG.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
.body3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}
.library-form {
 background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.library-form h1 {
  text-align: center;
  color: darkred;
  margin-bottom: 10px;
  font-size: 30px;
}

.library-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.library-form input {
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
  border: 1px solid rgb(26, 25, 25);
  border-radius: 5px;
}